<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Zone</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/partialsheaderfooter.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd4409a55c.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="../img/banner.png" />
                    <img id="slide-2" src="L" />
                    <img id="slide-3"
                        src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
                        alt="3D rendering of an imaginary blue planet in space" />
                </div>
                <div class="slider-nav">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </section>

        <h2>Productos</h2>
        <!-- <section class="products">

            <article>
                <div class="image-container">
                    <a href="/productDetail">
                        <img src="/img/img1.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$1034532</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">PC AMD RYZEN 7 7700 32GB SSD 960GB</div>
                </div>
            </article>
            <article>
                <div class="image-container">
                    <a href="">
                        <img src="/img/laptop.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$450000</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">Notebook XPG Xenia 14 i5 1135G7 Iris</div>
                </div>
            </article>
            <article>
                <div class="image-container">
                    <a href="">
                        <img src="/img/laptop.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$450000</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">Notebook XPG Xenia 14 i5 1135G7 Iris</div>
                </div>
            </article>
            <article>
                <div class="image-container">
                    <a href="">
                        <img src="/img/laptop.jpg" alt="Imagen">
                    </a>
                </div>
                <div class="article-description-content">
                    <div class="precio">$450000</div>
                    <span class="descuento">10% OFF</span>
                    <div class="descripciones">Notebook XPG Xenia 14 i5 1135G7 Iris</div>
                </div>
            </article>
        </section> -->

        <section class="products">
            <% products.forEach(product => { %>
                <a href="/productDetail/<%= product.id %>">
                    <article>
                        <figure class="image-container">
                            <img src="/img/products/<%= product.image %>" alt="imagen de producto">
                        </figure>
                        <div>
                            <div class="precio"> $<%= product.price %> </div>
                            <span class="descuento"><%= product.discount %> % OFF</span>
                            <p class="descripciones"><%= product.name %></p>
                        <div/>
                    </article>
                </a>
            <% }) %>
        </section>

    </main>

    <%- include('./partials/footer') %>
</body>

</html>