<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/partialsheaderfooter.css">

    <script src="https://kit.fontawesome.com/bd4409a55c.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header') %>
    <section class="body-login">

        <div class="contenedor-formulario contenedor">
            <div class="imagen-formulario">

            </div>

            <form class="formulario" method="POST" action="/users/login">
                <div class="texto-formulario">
                    <h2>Bienvenido de nuevo!</h2>
                    <p>Inicia sesión con tu cuenta</p>
                </div>
                <div class="input">
                    <label for="email">Correo Electronico</label>
                    <input placeholder="Ingresa tu Correo" type="email" name="email" id="email" value="<%= locals.old?.email || '' %>">
                    <% if (locals && locals.errors) { %>
                        <p class="msg_error"><%= errors.email?.msg %></p>
                    <% } %>
                </div>
                <div class="input">
                    <label for="password">Contraseña</label>
                    <input placeholder="Ingresa tu Contraseña" minlength="8" type="password" name="password" id="password" value="<%= locals.old?.password || '' %>">
                    <% if (locals && locals.errors) { %>
                        <p class="msg_error"><%= errors.password?.msg %> <%= errors?.msg %></p>
                    <% } %>
                </div>
                <div class="password-olvidada">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="input">
                    <input type="submit" value="Login">
                </div>
                <div class="texto-imagen">
                    <label>
                        <input type="checkbox" name="remember_user" id="remember_user" >
                        recordar usuario
                    </label>
                </div>
                <div class="texto-imagen">
                    <span>no tenes cuenta?</span> 
                    <a href="/users/register" class="link">registrate</a>
                </div>
            </form>
        </div>
    </section>


    <%- include('../partials/footer') %>
</body>

</html>