<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { 
   css: ["users.css", "normalize.css", "partialsheaderfooter.css"], 
   title: "Inicio de sesión" 
}) %>

<!-- <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>perfil</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/users.css">
   <link rel="stylesheet" href="/css/partialsheaderfooter.css">

   <script src="https://kit.fontawesome.com/bd4409a55c.js" crossorigin="anonymous"></script>
</head> -->

<body>
   <%- include('../partials/header') %>

   <main class="body-login">
      <div class="conteiner-profile">
         <h1>Mi cuenta</h1>
         <section class="section-profile">            
            <% if (user != undefined) { %>
                  <section class="data-first col-profile">
                     <div>
                        <h3>Mis pedidos</h3>
                        <article class="orders box-shadow-profile">
                           <div>
                              <h4>Número de reserva: <%= '`${1597346}`' %></h4>
                              Monto: $<%= '`${285.663}`' %>
                           </div>
                           <div>
                              <div>Fecha: <%= '`${17/10/2023}`' %></div>
                              <button type="button" >Ver detalle</button>
                           </div>
                        </article>
                        <article class="orders box-shadow-profile">
                           <div>
                              <h4>Número de reserva: <%= '`${1597346}`' %></h4>
                              Monto: $<%= '`${285.663}`' %>
                           </div>
                           <div>
                              <div>Fecha: <%= '`${17/10/2023}`' %></div>
                              <button type="button" >Ver detalle</button>
                           </div>
                        </article>
                     </div>
                  </section>

                  <section class="data-second col-profile">
                     <article class="data-profile box-shadow-profile">
                           <img src="/img/users/<%= user.avatar %>" alt="imagen de usuario" class="userImg">
                           <div class="data">
                              <div><strong>Nombre:</strong> <%= user.name %></div>
                              <div><strong>Apellido:</strong> <%= user.last_name %></div>
                              <div><strong>Direccion de email:</strong> <%= user.email %></div>
                              <div><strong>Cuenta tipo:</strong> <%= user.role %></div>
                           </div>
                     </article>
                     <article>
                        <h3>Facturas</h3>
                        <div class="box-shadow-profile">
                           <strong>Tipo:</strong> <span>Factura B</span>
                           <div>
                              <strong>Comprobante:</strong> <span>0000-000000001</span>
                           </div>
                        </div>
                        <div class="box-shadow-profile">
                           <strong>Tipo:</strong> <span>Factura B</span>
                           <div>
                              <strong>Comprobante:</strong> <span>0000-000000002</span>
                           </div>
                        </div>
                     </article>
                     <article>
                        <h3>Domicilios</h3>
                        <div class="box-shadow-profile">
                           <strong>Domicilio:</strong> <span>Factura B</span>
                           <div>
                              <strong>Codigo postal:</strong> <span>5000</span>
                           </div>
                           <div>
                              <strong>Recibe:</strong> <span><%= user.name %> <%= user.last_name %></span>
                           </div>
                        </div>
                     </article>                     
                  </section>
                  
            <% } else{ %>
               <i>No Hay usuario</i>
            <% } %>
         </section>
   
      </div>    
   </main>


      <%- include('../partials/footer') %>
</body>

</html>